body
{
    background-image:url("https://t3.ftcdn.net/jpg/01/96/01/16/240_F_196011632_Z6TxqrUQIdLjnI2zOOiPlhA3hzbiGSlg.jpghttps://t4.ftcdn.net/jpg/01/37/85/97/240_F_137859733_pXgeGB53l3VKrr0WxF3elF1E5Nuhs2DY.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
height: 60vh;
}
